.ProductBox{
    box-shadow: -20px 19px 70px -17px rgba(0,0,0,0.5);
    -webkit-box-shadow: -20px 19px 70px -17px rgba(0,0,0,0.5);
    -moz-box-shadow: -20px 19px 70px -17px rgba(0,0,0,0.5);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

.ProductBox:hover{
    transition-duration: 0.4s;
    transform: scale(110%);
}

.cardAnim{
    transition: transform 0.4s !important;
}

.cardAnim:hover{
    transform: scale(110%) !important;
}

.cardAnim div[role=img]{
    transition: transform 0.45s !important;
    transform: scale(110%) !important;
}

.cardAnim:hover div[role=img]{
    transform: scale(100%) !important;
}